@import url(../../common.css);

body {
    background: gray;
    font-size: 14px;
    line-height: 1.5;
}

/* hearder 부분 */
header {
    background: orange;
    color: white;
    text-align: center;
}
#wrapper {
 width: 80%;
 margin: 0 auto;
}
#wrapper header h1 {
    font-size: 4em;
    font-weight: bold;
}
#wrapper header h1 span {
    font-size: 0.3em
    ;
}
#wrapper header h2 {
    background: lightgray;

}
/* container 시작 */
.container {
    background: whitesmoke;
    position: relative;    
    height: 500px;
}
.side-menu {

    width: 25%;
    padding: 10px;
}
.side-menu h3 {
    background: red;
    color: white;
    font-size: 1.1em;
    padding: 5px;
}
.side-menu ul li {
    text-decoration: underline;
    margin: 2%;
}

/* main-content 시작 */
.main-content {
    width: 50%;
    background: lightgray;
    position: absolute;
    left: 25%;
    top: 0;
    height: 500px;
}
.art-piece {
    height: 16.6%;
}
.main-content .art-piece h4 {
    background: #0b2e52;
    color: white;
}


/* banner 시작 */
.banner {
    width: 25%;
    background: whitesmoke;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    line-height: 1.3;
    padding-left: 10px;
    
}
.all {
    font-size: 1.2em;
    color: gray;
    font-weight: bold;
    text-decoration: underline;
}
.love {
    font-size: 1.2em;
    color: orange;
    font-weight: bold;
}
strong {
    font-size: 1.2em;
    font-weight: bold;
}

.link a {
    text-decoration: underline;
    font-weight: bold;
}







/* footer 시작 */
footer {
    background: #0b2e52;
    color: white;
    text-align: center;
}